#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

:root {
  --background-primary: #eeeeee;
  --text-primary: #282c34;
}

.no-select {
  pointer-events: none;
  user-select: none;
}

/* Disable number input arrows - Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Disable number input arrows - Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.ui-layer {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000000000; /* Ensure these are above three.js rendered html elements */
  pointer-events: none;

  & > * {
    pointer-events: auto;
  }
}
