#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

:root {
  --background-primary: #eeeeee;
  --text-primary: #282c34;
}

.ui-layer {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;

  & > * {
    pointer-events: auto;
  }
}
