@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #111111;
  --text-primary: #eeeeee;

  --pp-panel: 0 0 0;
  --pp-accent-primary: 255 0 0;
  --pp-accent-secondary: 241 104 24;
  --pp-killfeed-text-blue: 119 169 236;
  --pp-killfeed-text-red: 255 74 74;
}

html {
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-size: 14px;
  font-family: 'Source Sans Pro';
}

// Some stuff from Bootstrap
// (only using Bootstrap layout, not full because it super annoyingly overrides a lot of classes)

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: 1em;
}

code {
  font-size: 87.5%;
  color: #e83e8c;
  word-wrap: break-word;
}

a > code {
  color: inherit;
}

kbd {
  padding: 0.15rem 0.5rem;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: 1em;
  font-size: 87.5%;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}

.no-select {
  pointer-events: none;
  user-select: none;
}

/* Disable number input arrows - Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Disable number input arrows - Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.ui-layer {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000000000; /* Ensure these are above three.js rendered html elements */
  pointer-events: none;

  & > * {
    pointer-events: auto;
  }
}

button.ui.dribble-btn {
  background-color: rgba(30, 30, 30, 0.75);
  border-radius: 0;
  width: 33px;
  height: 33px;
}
