@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ui-layer {
    @apply pointer-events-none absolute inset-0 flex *:pointer-events-auto;
  }

  .text-outline {
    text-shadow:
      0 0 2px #000000,
      0 0 2px #000000,
      0 0 2px #000000,
      0 0 2px #000000;
  }

  // z-index stuff

  // Some components rely on @react-three/drei Html (e.g. Nameplate) that has it's own logic to
  // determine the layering of elements, and sets this via z-index. They values used are super
  // huge (e.g. 10604212) which result in them being placed above the non-THREE.js UI elements.
  // To prevent this, we give all our normal UI element's a high z index.
  .ui-layer {
    @apply z-[2000000000];
  }

  // Radix Tooltips rely on Popper, but don't expose a way to set the z-index (defaults to 'auto').
  // We need to make sure it renders above the rest of the UI layers (i.e. .ui-layer items).
  [data-radix-popper-content-wrapper] {
    z-index: 2000000001 !important;
  }
}

:root {
  --background-primary: #111111;
  --text-primary: #eeeeee;

  --pp-panel: 0 0 0;
  --pp-accent-primary: 150 113 216;
  --pp-accent-secondary: 241 104 24;
  --pp-accent-tertiary: 214 77 138;

  --pp-actor-model-red: 255 2 2;
  --pp-actor-model-blue: 3 116 255;
  --pp-pipebomb-red: 255 37 37;
  --pp-pipebomb-blue: 20 43 255;
  --pp-stickybomb-red: 255 2 2;
  --pp-stickybomb-blue: 0, 55, 255;

  --pp-killfeed-text-blue: 119 169 236;
  --pp-killfeed-text-red: 255 74 74;
  --pp-focused-background-blue: 136 174 184;
  --pp-focused-background-red: 172 38 65;
  --pp-healthbar-blue: 136 174 184;
  --pp-healthbar-red: 172 38 65;
  --pp-health-overhealed: 62 255 0;
  --pp-health-low: 255 119 104;
}

html {
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-size: 1.5vw;
  font-size: clamp(8px, 1.5vw, 14px);
  font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 14px;
  }
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: 1em;
}

code {
  font-size: 87.5%;
  color: rgb(var(--pp-accent-tertiary));
  word-wrap: break-word;
}

a > code {
  color: inherit;
}

kbd {
  padding: 0.15rem 0.5rem;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: 1em;
  font-size: 87.5%;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}

/* Disable number input arrows - Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Disable number input arrows - Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
